<div class="wrapper">
    <div class="flower_box">
        <div class="image"></div>
        <div class="text">
            <h1>Details of: {{location.id}}</h1>
            <h5>by health ministery</h5>
            <hr>
            <p>Start Date : {{location.startDate}}</p>
            <p>End Date :{{location.endDate}}</p>
            <p>Location :{{location.city}}</p>
            <p>City :{{location.location}}</p>
            <span>edit</span>
            <button (click)="onBack()">back</button>
        </div>
    </div>
</div>