<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="user-box">
      
        <input type="text" formControlName="UserName" name="UserName" required>
      <label>User name</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="Password" name="Password" required>
      <label>Password</label>
    </div>
    <button  
      type="submit" [disabled]="!loginForm.valid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
    
  </form>
  <span style="color: azure;">{{message}}</span>
</div>